<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
       		http://www.springframework.org/schema/beans/spring-beans.xsd 
       		http://www.springframework.org/schema/context 
       		http://www.springframework.org/schema/context/spring-context.xsd
       		http://www.springframework.org/schema/aop 
       		http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-autowire="byName">

<!--	<bean id="helloJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">-->
<!--		<property name="targetObject">-->
<!--			<ref bean="taskJob" />-->
<!--		</property>-->
<!--		<property name="targetMethod">-->
<!--			<value>SayHello</value>-->
<!--		</property>-->
<!--	</bean>-->

<!--	&lt;!&ndash; 配置触发器 &ndash;&gt;-->
<!--	<bean id="helloTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">-->
<!--		&lt;!&ndash; 这里不可以直接在属性jobDetail中引用taskJob，因为他要求的是一个jobDetail类型的对象，所以我们得通过MethodInvokingJobDetailFactoryBean来转一下 &ndash;&gt;-->
<!--		<property name="jobDetail">-->
<!--			<ref bean="helloJobDetail" />-->
<!--		</property>-->
<!--		&lt;!&ndash; 每天的8点到21点每隔1分钟触发&ndash;&gt;-->
<!--		<property name="cronExpression">-->
<!--			<value>0 * 08-21 * * ?</value>-->
<!--		</property>-->
<!--	</bean>-->

<!--	<bean name="exampleJob" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">-->
<!--		<property name="jobClass" value="com.codefans.template.scheduler.SimpleScheduledJob"/>-->
<!--		<property name="jobDataAsMap">-->
<!--			<map>-->
<!--				<entry key="timeout" value="5"/>-->
<!--			</map>-->
<!--		</property>-->
<!--	</bean>-->

<!--	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">-->
<!--		<property name="jobDetail" ref="exampleJob"/>-->
<!--		&lt;!&ndash; 每隔5秒执行一次 &ndash;&gt;-->
<!--		<property name="cronExpression" value="*/5 * * * * ?"/>-->
<!--	</bean>-->

<!--	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">-->
<!--		<property name="triggers">-->
<!--			<list>-->
<!--				<ref bean="cronTrigger"/>-->
<!--			</list>-->
<!--		</property>-->
<!--	</bean>-->


</beans>