<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
    		http://www.springframework.org/schema/beans/spring-beans.xsd
       		http://www.springframework.org/schema/context 
     		http://www.springframework.org/schema/context/spring-context.xsd
     		http://www.springframework.org/schema/tx  
			http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-autowire="byName">
	
	<!-- 启用对事务的注解支持 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<!--
        when the above bean (messenger) is instantiated, this custom
        BeanPostProcessor implementation will output the fact to the system console
        -->
	<bean class="com.codefans.template.springextension.container.BeanPostProcessorExtension"/>

<!--	<bean class="com.codefans.template.springextension.container.ApplicationListenerExtension"/>-->
	<bean name="beanFactoryPostProcessorExtension" class="com.codefans.template.springextension.container.BeanFactoryPostProcessorExtension"/>
	<bean class="com.codefans.template.springextension.container.BeanFactoryAwareExtension"/>
	<bean class="com.codefans.template.springextension.container.InitializingBeanExtension"/>
	<bean class="com.codefans.template.springextension.container.DisposableBeanExtension"/>
	<bean class="com.codefans.template.springextension.container.FactoryBeanExtension"/>
	<bean class="com.codefans.template.springextension.container.PostConstructExtension"/>

	<bean class="com.codefans.template.scheduler.SchedulerStartup" init-method="init"/>

</beans>