<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop.xsd"
	default-autowire="byName">

	<!-- mvc controller -->
	<aop:aspectj-autoproxy proxy-target-class="true" />

    <context:component-scan base-package="com.codefans.template.web" />
    <context:annotation-config />

    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- Json输出格式转换 -->
            <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
                <property name="objectMapper">
                    <bean class="com.codefans.template.web.convert.CustomObjectMapper" />
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <mvc:resources mapping="/wx/*" location="/wx/"></mvc:resources>

    <!--<mvc:default-servlet-handler/>-->

    <!--&lt;!&ndash;配置拦截器 拦截除了exceptUrls内的所有请求&ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<bean class="com.codefans.template.web.interceptor.UrlInterceptor">-->
                <!--<property name="exceptUrls">-->
                    <!--<list>-->
                        <!--<value>/wx</value>-->
                        <!--<value>/wx/</value>-->
                        <!--&lt;!&ndash;<value>/template</value>&ndash;&gt;-->
                    <!--</list>-->
                <!--</property>-->
            <!--</bean>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->

</beans>